<div class="node one-size" emitter-node-view="" [id]="node.id">
    <div class="title" title="{{nodeTitle}}">
        {{nodeCaption}}
        <span ngIf="inDevMode">({{node.sequentialNumber}})</span>
    </div>
    <div class="functional-block">
        <div class="body">
            <input type="text" spellcheck="false" autocomplete="off"                 
                max-length="{{viewModel.controlAttrs.fieldLength}}"                 
                [class.invalid]="viewModel.isValid" 
                [disabled]="isReadOnly"
                [(ngModel)]="viewModel.value" 
                (keydown)="isNumeric && onKeyDown($event, 'OnlyNumeric')"
                (paste)="isNumeric && onPaste($event, 'OnlyNumeric')"                 
                (change)="emitSignal()" />
        </div>
        <div class="output-ports">
            <div class="port is-terminator" id="{{node.outputPort.id}}">
                {{node.outputPort.marker}}
            </div>
        </div>
    </div>
</div>