<div class="node" 
     function-node-view=""
     id="{{::funcNVCtrl.node.id}}">
    <div class="title" title="{{::funcNVCtrl.nodeTitle}}">
        {{::funcNVCtrl.nodeCaption }}
        <span ng-if="behaviorCtrl.inDevMode">({{::funcNVCtrl.node.sequentialNumber}})</span>
    </div>
    <div class="functional-block">
        <div class="input-ports" ng-class="::{'unshrink-margin' : funcNVCtrl.node.inputPorts.length > 1}">
            <div class="port is-terminator"                  
                 id="{{::inputPort.id}}"
                 title="{{::inputPort.title | translate}}"
                 ng-repeat="inputPort in ::funcNVCtrl.node.inputPorts track by inputPort.index">
                {{::inputPort.marker}}
            </div>
        </div>       
        <div class="output-ports" ng-class="::{'unshrink-margin' : funcNVCtrl.node.inputPorts.length > 1}">
            <div class="port is-terminator"                 
                 id="{{::funcNVCtrl.node.outputPort.id}}"
                 title="{{::funcNVCtrl.node.outputPort.title | translate}}">
                {{::funcNVCtrl.node.outputPort.marker}}
            </div>
        </div>
    </div>
    <div class="node-debug" title="?">?</div>
</div>