<div class="node"
     text-join-node-view=""
     id="{{::textJoinNVCtrl.node.id}}">
    <div class="title" title="{{::textJoinNVCtrl.nodeTitle}}">
        {{::textJoinNVCtrl.nodeCaption }}
        <span ng-if="behaviorCtrl.inDevMode">({{::textJoinNVCtrl.node.sequentialNumber}})</span>
    </div>
    <div class="functional-block">
        <div class="input-ports unshrink-margin">
            <div class="port"
                 ng-class="{'is-dynamic' : inputPort.isDynamic && inputPort.isTerminator,
                            'is-terminator' : !inputPort.isDynamic && inputPort.isTerminator}"
                 id="{{::inputPort.id}}"
                 title="{{::inputPort.title | translate}}"
                 ng-repeat="inputPort in textJoinNVCtrl.node.inputPorts track by inputPort.index">
                {{::inputPort.marker}}
            </div>
        </div>
        <div class="center-content">
            <div class="divider">{{::'BehaviorDesigner.Layout.Nodes.textJoin.separatorLabel' | translate}}</div>
            <input type="text" spellcheck="false" autocomplete="off" class="one-char" maxlength="1"
                   placeholder="{{::'BehaviorDesigner.Layout.Nodes.textJoin.placeholder' | translate}}"
                   title="{{::'BehaviorDesigner.Layout.Nodes.textJoin.separatorTitle' | translate}}"
                   ng-trim="true"
                   ng-disabled="::textJoinNVCtrl.isReadOnly"
                   ng-model="textJoinNVCtrl.viewModel.value"
                   ng-keydown="textJoinNVCtrl.onKeyDown($event, 'AllButWhiteSpace')"
                   ng-paste="textJoinNVCtrl.onPaste($event, 'AllButWhiteSpace')"
                   ng-change="textJoinNVCtrl.emitSignal()" />
        </div>
        <div class="output-ports">
            <div class="port is-terminator"
                 id="{{::textJoinNVCtrl.node.outputPort.id}}"
                 title="{{::textJoinNVCtrl.node.outputPort.title | translate}}">
                {{::textJoinNVCtrl.node.outputPort.marker}}
            </div>
        </div>
    </div>
    <div class="node-debug" title="?">?</div>
</div>